.container-form{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.form p{
    color: #15688b;
    font-size: .9rem;
    margin-top: 1.2rem;
}

.input {
    width: 80%;
    border-radius: .5rem;
    border: 1px solid #04d690;
    margin-top: .4rem;
    padding: .6rem .5rem;
}

.form textarea{
    height: 100px;
    resize: none;
}

.form button{
    padding: .5rem 1.5rem;
    margin-top: 1rem;
    border-radius: 5rem;
    border:2px solid #06a1ca;
    color:#15688b;
    cursor: pointer;
}

.form button:hover{
    background-color: #06a1ca;
    color: white;
}

@media(max-width:480px){
    .form{
        padding: 0 2rem;
    }

    .input{
        width: 100%;
    }
}

.alerta{
    background-color: #e1e1e1;
    width: 40%;
    text-align: center;
    border-radius: 1rem;
    position: fixed;
    top: 30vh;
    left: 30%;
    box-shadow: 8px 8px 10px rgba(0,0,0,.3);
    display: none;
}

.alerta h3{
    font-size: 2rem;
    background-color: #15688b;
    color:white;
    margin-bottom: 1rem;
    padding: .5rem;
}

.alerta p{
    margin-bottom: 2rem;
}