.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f2f2f2;
  position: fixed;
  top: 0;
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  color: #15688b;
  margin-left: 5rem;
}

.header .nav-bar {
  margin-right: 5rem;
}

.header .nav-bar a {
  text-decoration: none;
  color: #15688b;
  font-weight: bold;
  margin-left: 2rem;
  position: relative;
}

.header .nav-bar a:hover::after {
  content: "";
  width: 80%;
  border: 1px solid #04d690;
  border-radius: 50%;
  left: 10%;
  top: 22px;
  position: absolute;
}

@media(max-width:480px){
  .header {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem 0;
  }

  .header .nav-bar a:first-child{
    margin-left: 0;
  }

  .header .nav-bar{
    margin-right:0;
  }
  
  .logo{
    margin-left: 0;
    display: none;
  }
}