.pr-container {
  width: 300px;
  height: 400px;
  background-color: white;
  text-align: center;
  box-shadow: 5px 5px 10px rgba(0,0,0,.4);
  margin-right: 2.5rem;
}

.pr-container:last-child{
  margin-right: 0;
}

.img-container-pr{
  width: 100%;
  height: 250px;
}

.title-pr {
  color: #06a1ca;
  margin-top: 1rem;
  text-transform: uppercase;
}

.p-pr {
  font-size: 0.7rem;
  color: #00062c;
  margin-bottom: 1rem;
  margin-top: .4rem;
  padding: 0 1rem;
}

.btn-pr {
  padding: .4rem 1rem;
  background-color: transparent;
  border: 2px solid #06a1ca;
  border-radius: 1rem;
  color:#15688b;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 1rem;
}

.btn-pr:hover, .btn-pr:hover a {
  background-color: #06a1ca;
  color: white;
}

.btn-pr a{
  text-decoration: none;
  color:#15688b;
}

@media(max-width:768px){
  .pr-container{
    width: 250px;
    height: 400px;
  }

  .pr-container h3{
    font-size: 1rem;
  }
}

@media(max-width:480px){
  .pr-container{
    margin-right: 0;
  }
}