.App {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 1000px;
  margin: 0 auto;
}

.main-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.description-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 55%;
  text-align: center;
  margin-right: 3rem;
}

.description-container h1 {
  background: linear-gradient(90deg, #15688b, #04e0d5);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 1.8rem;
}

.description-container h2 {
  font-weight: 400;
  color: #00062c;
}

.description-container p {
  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #00062c;
}

.ui-container {
  width: 45%;
}

.ui-container img {
  width: 100%;
}

@media (max-width:768px) {
  .main-container{
    padding: 0 2rem;
  }
}

@media (max-width: 480px) {
  .main-container{
    flex-direction: column-reverse;
  }

  .description-container{
    width: 100%;
    margin: 1rem 0 0 0;
  }

  .description-container h1{
    font-size: 1.7rem;
  }

  .description-container h2{
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  .description-container p{
    padding: 0 2rem;
  }
}

.redes-container {
  display: flex;
  flex-direction: column;
  height: 100px;
  width: 40px;
  text-align: center;
  justify-content: space-around;
  align-items: flex-end;
  padding: 0.4rem 0.4rem 0.4rem 0;
  padding-right: 0.4rem;
  background-color: #15688b;
  border-radius: 0 1rem 1rem 0;
  position: fixed;
  left: 0;
  top: 45vh;
  color: white;
}

.redes-container a {
  color: white;
}

@media (max-width: 480px) {
  .redes-container {
    display: none;
  }
}

.proyect-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

h2 {
  margin-bottom: 2rem;
  color: #15688b;
}

.container-components {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  gap: 2rem 0;
}

@media (max-width:768px){
  .container-components{
    grid-template-columns: repeat(2, 1fr);
  }
  h2{
    padding-left: 2rem;
  }
}

@media (max-width: 480px) {
  .container-components {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  h2 {
    padding-left: 2rem;
  }
}

.tecnologias-container {
  width: 100%;
  margin-top: 6rem;
}

.icons-main-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

@keyframes aparecer {
  from{
    transform: translateY(100%);
    opacity: 0;
  }

  to{
    transform: translateY(0);
    opacity: 1;
  }
}

.icon-container i {
  font-size: 3rem;
}



.container-form-main {
  width: 100%;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 5rem;
}

.container-form-main Form {
  width: 100%;
}

.container-form-main .form-img {
  width: 100%;
}

.form-img img {
  width: 100%;
}

@media (max-width:768px){
  .icons-main-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem 0;
    width: 80%;
    margin: 0 auto;
  }

  .container-form-main{
    padding: 0 3rem;
    margin-bottom: 2rem;
  }
}

@media (max-width:480px){
  .icons-main-container{
    grid-template-columns: repeat(2,1fr);
    gap: 1rem 0;
    padding: 0 2rem;
  }

  .icon-container i {
    font-size: 5rem;
  }

  .form-img img{
    display: none;
  }

  .container-form-main{
    display: block;
  }
}

.footer {
  width: 100vw;
  font-size: 0.7rem;
  background-color: #15688b;
  padding: 1rem 0;
  color: white;
  text-align: center;
}

.footer .redes-container-footer{
  display: none;
}

@media(max-width:480px){
  .footer p {
    display: none;
  }
  
  .footer .redes-container-footer{
    display: flex;
    justify-content: space-around;
  }

  .redes-container-footer i{
    font-size: 1.8rem;
    color: white;
  }
}